.colorKey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 3px solid #2f2f2f;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 4px;
}
.pointer {
    cursor: pointer;
}