<div class="game" *ngFor="let e of [].constructor(this.numberTurn); let i = index">
    <app-line class="gameLine" [line]="this.board[i]"></app-line>
    <app-line-hint [lineHint]="this.boardHint[i]"></app-line-hint>
</div>

<div class="keyboard">
    <div *ngFor="let color of this.possibleColors">
        <app-keyboard-key [colorKey]="color" (colorKeyPlay)="play($event)"></app-keyboard-key>
    </div>
    <img
    src="./../../assets/arrow_back.svg"
    height="87px"
    width="100px" class="pointer" (click)="deleteLastColorInLine()"/>
</div>
<!--🟦🟥🟩🟨🟪⬜-->